{% extends 'layouts/base_sections.html' %}
{% load static %}



{% block title %} Material Kit 2 by Creative Tim {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}


<header class="header-2">
  <div class="page-header min-vh-50" style="background-image: url('{% static 'img/bkgd-bluewavedata2.jpg' %}');">
    <span class="mask bg-gradient-info opacity-6"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="lead text-white mt-3">Landing Page 1</h1>
            <p class="text-white pt-3 mt-n5"><br/><br/></p>
          </div>
        </div>
      </div>
    </span>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
          </g>
        </svg>
      </div>
  </div>
</header>

  <!---------- END HEADER 7 w/ text and video ------- -->


 <!-- -------- START Features w/ pattern background & stats & rocket -------- -->
  <section class="pt-sm-8 pb-5 position-relative bg-gradient-light">
    <div class="position-absolute w-100 z-inde-1 top-0 mt-n3">
      <svg width="100%" viewBox="0 -2 1920 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>wave-down</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g fill="#FFFFFF" fill-rule="nonzero">
            <g id="wave-down">
              <path d="M0,60.8320331 C299.333333,115.127115 618.333333,111.165365 959,47.8320321 C1299.66667,-15.5013009 1620.66667,-15.2062179 1920,47.8320331 L1920,156.389409 L0,156.389409 L0,60.8320331 Z" id="Path-Copy-2" transform="translate(960.000000, 78.416017) rotate(180.000000) translate(-960.000000, -78.416017) "></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-4">
          <span>
            <div class="card card-background move-on-hover w-100 border-radius-md">
               <div class="page-header relative" style="background-image: url('{% static 'img/slalom-course-button.png' %}')">
                <div class="card-body pt-12">          
                  <h2 class="text-white text-center display-6">_ Slalom Sets _</h2>
                  <p></p>
                </div>
              </div>  
            </div>
          </span>
        </div>

        <div class="col-4">
          <span>
            <div class="card card-background move-on-hover w-100 border-radius-md">
               <div class="page-header relative" style="background-image: url('{% static 'img/phone-gallery-button.png' %}')">
                <div class="card-body pt-12">          
                  <h2 class="text-white text-center display-6">____ Media ____</h2>
                  <p></p>
                </div>
              </div>  
            </div>
          </span>
        </div>


      <div class="pt-4"></div>

      <div class="row justify-content-md-center">
        <div class="col-4">
          <span>
            <div class="card card-background move-on-hover w-100 border-radius-md">
               <div class="page-header relative" style="background-image: url('{% static 'img/chart-button.png' %}')">
                <div class="card-body pt-12">          
                  <h2 class="text-white text-center display-6">Stats & Charts</h2>
                  <p></p>
                </div>
              </div>  
            </div>
          </span>
        </div>

        <div class="col-4">
          <span>
            <div class="card card-background move-on-hover w-100 border-radius-md">
               <div class="page-header relative" style="background-image: url('{% static 'img/settings-button.png' %}')">
                <div class="card-body pt-12">          
                  <h2 class="text-white text-center display-6">__ Settings __</h2>
                  <p></p>
                </div>
              </div>  
            </div>
          </span>
        </div>
      </div>
    </div

        
 
  <!-- -------- START PRE-FOOTER 1 w/ SUBSCRIBE BUTTON AND IMAGE ------- -->
  <section class="my-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto">
          <h4>Be the first to see the news</h4>
          <p class="mb-4">
            Your company may not be in the software business,
            but eventually, a software company will be in your business.
          </p>
          <div class="row">
            <div class="col-8">
              <div class="input-group">
                <input type="text" class="form-control mb-sm-0" placeholder="Email Here...">
              </div>
            </div>
            <div class="col-4 ps-0">
              <button type="button" class="btn bg-gradient-info mb-0 h-100 position-relative z-index-2">Subscribe</button>
            </div>
          </div>
        </div>
        <div class="col-md-5 ms-auto">
          <div class="position-relative">
            <img class="max-width-50 w-100 position-relative z-index-2" src="{% static 'img/illustrations/sign-up.png' %}" alt="image">
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock content %}
  
  
  {% block javascrips %}
  
    <script>
      // get the element to animate
      var element = document.getElementById('count-stats');
      var elementHeight = element.clientHeight;
  
      // listen for scroll event and call animate function
  
      document.addEventListener('scroll', animate);
  
      // check if element is in view
      function inView() {
        // get window height
        var windowHeight = window.innerHeight;
        // get number of pixels that the document is scrolled
        var scrollY = window.scrollY || window.pageYOffset;
        // get current scroll position (distance from the top of the page to the bottom of the current viewport)
        var scrollPosition = scrollY + windowHeight;
        // get element position (distance from the top of the page to the bottom of the element)
        var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;
  
        // is scroll position greater than element position? (is element in view?)
        if (scrollPosition > elementPosition) {
          return true;
        }
  
        return false;
      }
  
      var animateComplete = true;
      // animate element when it is in view
      function animate() {
  
        // is element in view?
        if (inView()) {
          if (animateComplete) {
            if (document.getElementById('state1')) {
              const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
              if (!countUp.error) {
                countUp.start();
              } else {
                console.error(countUp.error);
              }
            }
            if (document.getElementById('state2')) {
              const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
              if (!countUp1.error) {
                countUp1.start();
              } else {
                console.error(countUp1.error);
              }
            }
            if (document.getElementById('state3')) {
              const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
              if (!countUp2.error) {
                countUp2.start();
              } else {
                console.error(countUp2.error);
              };
            }
            animateComplete = false;
          }
        }
      }
  
      if (document.getElementById('typed')) {
        var typed = new Typed("#typed", {
          stringsElement: '#typed-strings',
          typeSpeed: 90,
          backSpeed: 90,
          backDelay: 200,
          startDelay: 500,
          loop: true
        });
      }
    </script>
    <script>
      if (document.getElementsByClassName('page-header')) {
        window.onscroll = debounce(function() {
          var scrollPosition = window.pageYOffset;
          var bgParallax = document.querySelector('.page-header');
          var oVal = (window.scrollY / 3);
          bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
        }, 6);
      }
    </script>
  
  
  {% endblock javascrips %}